{% extends 'base.html' %}
{% block title %}Survey Title{% endblock %}
{% block content %}
<div class="row justify-content-md-center m-3">
    <form action="/answer" method="POST">
        <h2>Question {{number + 1}}: {{question}}</h2>
        {% for choice in choices %}
            <label for="{{choice}}">{{choice}}</label>
            {% if response == choice %}
                <input class="m-3" type="radio" name="answer" id="{{choice}}" value="{{choice}}" checked="checked">
            {% else %}
                <input class="m-3" type="radio" name="answer" id="{{choice}}" value="{{choice}}">
            {% endif %}
        {% endfor %}
        {% if allow_text == true %}
            <br><label for="comment">Comment:</label><br>
            <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
        {% endif %}
        <br><button formaction="/back" class="m-3">&lt;Back</button>
        <button class="m-3">Next Question&gt;</button>
    </form>
</div>

{% endblock %}
